[Unit]
Description=Family Tree Backend
After=network.target

[Service]
Type=simple
User=ansible
WorkingDirectory=/home/ansible/family_tree/backend
ExecStart=/usr/bin/python3 /home/ansible/family_tree/backend/main.py
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target